
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #111a28;
}
/* Reusable styles */
.dark-bg{
    background-color: #111a28;
    color: white;
}
.bg-dark-text-white {                        /* For Portolio section */
    background-color: #1c293d;
    /* color: white; */
}
.lime{
    color:#00CF5D;
}
.section-title {                        /* All the heading of the section */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:40px;
    margin-bottom: 40px !important;
}
.bg-lime {
    background-color: #00CF5D;
}
.margin-top-gap {
    margin-top: 60px;
}
.margin-bottom-gap {
    margin-bottom: 60px;
}
.section-long-gap {
    margin-top: 120px;
    margin-bottom: 120px;
}
/* Reusable styles Ends here*/

.navbar {
    background:#131e2e ;
}
.navbar-brand {
    font-weight: 900;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar-brand:hover, .nav-link:hover {
    color:#00CF5D;
}

.carousel-item {
    padding: 0 120px;
}
.sayhi{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.my-name{
    font-size:70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.work-skills {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
/* this is the Download CV  button */
.my-btn{
    background-color:#00CF5D;
    color:white;
    padding: 10px 20px;
    border: 2px solid #00CF5D;
    margin-right: 4px;
}
.my-btn:hover {
    color:#00CF5D;
    border:2px solid #00CF5D;
    background-color: transparent;
}
/* this is the contact now button */
.contact-now{   
    background-color:none;
    color:#00CF5D;
    border:1px solid #00CF5D;
    padding: 10px 20px;
    border: 2px solid #00CF5D;
}
.contact-now:hover {
    color:white;
    border-color: white;
}
/* Icon box starts here */
.icon-box {
    background-color: #1c293d;
    padding: 20px 50px;
}
.icon-box h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#00CF5D
}
.icon-box-img {
    width:20%;
}
/* Icon box Ends here */

/* Skills Button starts here */
/* Here Modifing default tablist button style - which is used in skills sections*/

.nav-pills>.nav-item>.nav-link{
    border: 2px solid #00CF5D;
    color:#00CF5D;
    margin-right: 4px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #00cf5d;
}

/* Skills Button Ends here */

/* Portolio Section Starts here*/
.card .card-body .card-title{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
.card .card-body .card-subtitle {
    color: #3bd480 !important;
}
.card .card-body .card-text{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
/* Portolio Section Ends here*/
/* About me and contact Starts here*/
.about-me {
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 22px;
}
.contact-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}
.contact-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/* About me and contact Ends here*/

/* Footer Section starts here*/
.footer {
    text-align: center;
    color: #00CF5D;
    background-color: #1c293d;
    padding: 20px 0;
}
.footer p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-weight:300;
    font-style: italic;
}

/* Footer Section Ends here*/



/* Responsive Section Starts here*/
@media only screen and (max-width:767px){
    
body {
    text-align: center;
}
    .navbar-toggler {
        border-color: #00CF5D;
    }
    .navbar-toggler-icon {
        color:#00CF5D;
        padding-top: 5px;
    }
    .col-md-4, .col-md-6 {      /* Adding Default margin bottom for .col-md-4 & .col-md-6*/
        margin-bottom: 5%;
    }
    .col-md-4:last-child, .col-md-6:last-child {
        margin-bottom: 0;  
    }
    footer p {
        font-size: 50%;
    }
}


